.spec_select {
  float: right;
  margin-top: -2.7em;
  min-width: 6em;
  :global {
    .ant-select-selection {
      border: none;
    }
    .ant-select-open .ant-select-selection:focus {
      box-shadow: none;
    }
  }
}
.qual_pane {
  width: 97%;
  :global {
    .ant-radio-group {
      width: 60%;
      text-align: right;
    }
    .ant-radio-wrapper {
      margin-right: 3px;
    }
  }
  .radio_title {
    margin-left: 15px;
    width: 35%;
    padding: 10px 10px 0 0;
    display: inline-block;
    font-size: 14px;
    color: black;
  }
}

.addOne {
  text-align: center;
}
.history_pane {
  width: 100%;
  :global {
    .am-textarea-label.am-textarea-label-5,
    .am-list-item .am-input-label.am-input-label-5 {
      width: 75px;
    }
  }
}

.tabsCard {
  :global {
    .am-card-header {
      padding: 0 15px;
    }
    .am-card-body {
      padding: 0 10px 6px;
    }
  }
  .tabsCardHeader {
    :global {
      .am-textarea-label.am-textarea-label-5,
      .am-list-item .am-input-label.am-input-label-5 {
        width: 36px;
        text-align: right;
      }
      .am-list-item .am-input-control input {
        width: 62%;
        padding-right: 7px;
        text-align: right;
        border: 1px solid grey;
        border-radius: 0.4em;
      }
    }
  }
  .col {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 14px;
    :global {
      .am-list-item {
        padding-left: 0;
      }
      .am-textarea-label.am-textarea-label-5,
      .am-list-item .am-input-label.am-input-label-5 {
        width: 57px;
        text-align: right;
      }
      .am-list-item .am-input-control input {
        width: 110%;
        padding-right: 7px;
        text-align: right;
        border: 1px solid grey;
        border-radius: 0.4em;
      }
    }
  }
}
:global {
  .am-textarea-label.am-textarea-label-5,
  .am-list-item .am-input-label.am-input-label-5 {
    width: 105px;
    font-size: 14px;
  }
  .am-textarea-control textarea,
  .am-list-item .am-input-control input {
    text-align: right;
    font-size: 14px;
  }
  .am-list-item .am-input-control input:disabled,
  .am-list-item .am-textarea-control textarea:disabled {
    color: #1e1e1e;
    text-align: left;
  }
}
