@import '~@/utils/utils.less';



.list_card {
  margin: 0.6em auto;
  box-shadow: #ece6e6 1px 2px 3px 2px;
  padding: 0 16px;
  @media screen and (max-width: 320px) {
      padding: 0 10px;
    }
  .col {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: #999999;
    font-size: 12px;

    .spec {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;

      b {
        color: #1e1e1e;
      }
    }

    .btn {
      height: 32px;
      line-height: 32px;
      border-radius: 3em;
      border: 1px solid #219ddd;
      color: #219ddd;
      margin: 1em 0.3em;
    }

    :global {
      .am-card-body {
        &:befor {
          background-color: none;
        }
      }
    }
  }
}

:global {
  .am-card-header-extra{
    font-size: 14px;
    margin-top: -3px;
  }
}
