.page {
  color: black;
  font-size: 14px;
  .search {
    width: 100%;
    height: 79px;
    font-weight: bold;
    padding: 10px 8px;
    box-shadow: rgb(236, 230, 230) 1px 1px 6px 0px;
    position: fixed;
    z-index: 999;
    top: 45px;
    width: 100%;
    background: white;
    .search_top {
      display: flex;
      width: 100%;

      .search_input {
        width: 80%;
        background: none;
        align-items: baseline;
        height: 36px;

        :global {
          .am-search-input {
            border-radius: 1em;
            border: 1px solid rgba(0, 0, 0, 0.1);
            height: 32px;

            input[type='search'] {
              height: 30px;
            }

            .am-search-synthetic-ph {
              line-height: 30px;
            }
          }
        }
      }

      .search_btn {
        height: 32px;
        line-height: 32px;
        border-radius: 3em;
        border: 1px solid #219ddd;
        color: #219ddd;
      }
    }

    .search_bottom {
      display: flex;
      justify-content: center;
      .search_select {
        width: 34%;
        text-align: center;
        margin: 0 0.8em 0 0.5em;
        font-size: 14px;
        font-weight: normal;
        font-family: PingFangSC-Regular;
        :global {
          .am-list-body {
            margin-top: 0;
          }
        }
      }
    }
  }

  .list_card {
    background: white;
    margin-bottom: 0.5em;
    border-radius: 0;
    padding-bottom: 10px;
    .normal {
      color: #d48265;
      font-size: 14px;
    }
    .spec_color {
      color: red !important;
    }
    .col {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
      color: #999999;
      font-size: 14px;

      .spec {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;

        b {
          color: #1e1e1e;
          font-weight: 400;
        }
      }

      .btn {
        height: 32px;
        line-height: 31px;
        border-radius: 3em;
        border: 1px solid #219ddd;
        color: #219ddd;
        margin: 1em 0.3em;
      }

      :global {
        .am-card-body {
          &:befor {
            background-color: none;
          }
        }
      }
    }
  }

  .statusDetail_pane {
    padding: 10px 15px;
    font-size: 14px;
    box-shadow: rgb(236, 230, 230) 2px 3px 10px 1px;
    margin-top: 45px;
    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    span {
      width: 5em;
      text-align: right;
      display: inline-block;
      padding: 2px 0;
      color: #999999;
    }
    b {
      color: #1e1e1e;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: normal;
    }
  }
  .change_title {
    margin: 8px 0 0 15px;
    font-weight: 600;
  }
  .status_card {
    span {
      color: #999999;
      font-size: 14px;
    }
    b {
      padding: 0 8px;
      font-size: 14px;
      font-weight: normal;
      color: black;
    }
    .normal {
      color: #d48265;
    }
    .spec_color {
      color: red !important;
    }
  }
}

.modal_body {
  text-align: left;
  color: black;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  .stage {
    margin: 8px 0 15px;
    span {
      color: #dadada;
      border: 1px solid #dadada;
      padding: 1px 7px;
      border-radius: 5px;
      margin-right: 7px;
    }
    .active {
      color: #1990ff;
      border: 1px solid #1990ff;
    }
    .normal {
      color: black;
    }
  }
  :global {
    .am-list-item {
      border: 1px solid #dadada;
      padding-left: 5px;
      border-radius: 5px;
      font-size: 14px;
      .am-textarea-control textarea {
        font-size: 14px;
        line-height: 14px;
      }
    }
    .am-modal-button-group-h .am-modal-button {
      height: 45px;
      line-height: 45px;
      font-size: 14px;
    }
  }
}

.add_page {
  .tab_pane {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
  }
}

:global {
  a:hover {
    color: #1e1e1e;
  }
  .am-accordion .am-accordion-item .am-accordion-header {
    color: rgba(180, 180, 180, 1);
    font-size: 14px;
    height: 33px;
    line-height: 33px;
  }
  .am-accordion .am-accordion-item .am-accordion-header i {
    top: 10px;
    right: 10px;
  }
  .am-accordion .am-accordion-item .am-accordion-content {
    width: 105%;
    margin-left: -9px;
    box-shadow: rgb(236, 230, 230) 2px 3px 10px 1px;
    position: absolute;
    left: 0;
  }
  .am-card-header {
    font-size: 16px;
    padding: 9px 16px 5px;
  }
  .am-card-header-content {
    flex: unset;
    display: block;
    width: 71%;
    font-size: 18px;
    font-weight: bold;
    font-family: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .am-card-body {
    padding: 5px 16px 0;
    border-top: none;
  }
  .am-modal-mask {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  .am-modal-wrap {
    z-index: 1001;
  }
  .am-modal-transparent {
    width: 290px;
  }
  .ant-select-open .ant-select-selection:focus {
    box-shadow: none;
  }
  .am-tabs-default-bar,
  .am-navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    color: #fff;
  }
  .am-tabs-default-bar {
    margin-top: 45px;
    height: auto;
    color: #1e1e1e;
  }
  .am-tabs-default-bar-tab-active {
    font-weight: bolder;
  }
  .am-list-body {
    margin-top: 89px;
    background: none;
  }
  .ant-select-selection:hover {
    border-color: white;
  }
  .ant-select-focused .ant-select-selection,
  .ant-select-selection:focus,
  .ant-select-selection:active {
    border-color: white;
    // border-right-width: 0 ;
    box-shadow: none;
  }
  .ant-select-dropdown {
    position: fixed;
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    html:not([data-scale]) .am-accordion::before,
    html:not([data-scale]) .am-accordion .am-accordion-item .am-accordion-header::after {
      background-color: white;
    }
    // html:not([data-scale]) .am-accordion .am-accordion-item .am-accordion-header::after {
    //   background-color: #ddd;
    // }
    html:not([data-scale]) .am-card:not(.am-card-full)::before {
      border: none;
    }
    html:not([data-scale]) .am-card-body::before {
      background-color: white;
    }
    html:not([data-scale]) .am-list-body::before {
      background-color: white;
    }
  }
}
